* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  font-family: "Raleway", sans-serif;
  position: absolute;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  opacity: 0.9;
}

.navbar {
  margin: 0;
  padding: 0;
}

.nav__container {
  margin: 0px;
  padding: 10px 10px;
}

.container-fluid {
  background-color: #060920;
  box-shadow: 0px 0px 5px rgb(1, 0, 85);
  border-radius: 10px;
  padding: 10px;
}

.navbar-brand {
  font-size: 1.4rem;
  color: rgb(36, 209, 252);
  text-shadow: 0px 0px 60px rgb(0, 100, 250);
  padding-left: 10px;
  padding-bottom: 0px;
}

.navbar-brand:hover {
  color: rgb(0, 149, 255);
  text-shadow: 0px 0px 15px rgb(0, 149, 255);
}

.navbar-brand:focus {
  color: white;
}

.navbar-collapse {
  margin: 0px;
}

.navbar-nav {
  margin: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-nav li {
  padding-bottom: 10px;
  padding-right: 15px;
}

/* bottom */
.navbar-toggler {
  background-color: rgb(0, 36, 238);
  font-size: 0.8rem;
  border: 1px solid rgb(0, 0, 107);
  box-shadow: 0px 0px 5px rgb(0, 0, 107);
  padding: 7px 9px;
  margin: 0;
  box-shadow: 10px;
  margin-right: 11px;
}

.navbar-toggler:focus {
  box-shadow: 0px 0px 0px rgb(255, 255, 255);
}

.navbar-toggler:hover {
  background-color: rgb(0, 36, 238);
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 107);
}

.navbar-toggler:active {
  background-color: rgb(0, 7, 211);
}

.nav-link {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 0px 0px 3px rgb(182, 182, 182);
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
}

.nav-link:hover {
  color: white;
  text-shadow: 0px 0px 10px white;
  border-bottom: 1px solid white;
}

.nav-link:focus {
  color: white;
}

.main {
  background-image: url("/assets/images/fondo2.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
}

.main__tittle h1 {
  font-size: 1.9rem;
  font-weight: bold;
  color: rgb(36, 209, 252);
  text-shadow: 0px 0px 60px rgb(0, 88, 221);
}

.main__tittle h3 {
  font-size: 0.9rem;
  font-weight: 1px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 60px rgb(250, 250, 250);
}

.sec1 {
  background-color: rgb(4, 0, 17);
  height: 55vh;
  font-family: "Raleway", sans-serif;
  box-shadow: 0px 0px 100px 40px rgb(4, 0, 17);
}
.sec1 .main__sec1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec1 .main__sec1 h3 {
  font-size: 1.7rem;
  color: white;
  padding-left: 15px;
  text-shadow: 0px 0px 3px rgb(253, 253, 253);
}
.sec1 .main__sec1 h4 {
  color: white;
  font-size: 0.9rem;
  padding: 10px 20px;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}

.article {
  background-image: radial-gradient(circle, #001027, #000e22, #000c1d);
  height: 35vh;
  box-shadow: 0px 0px 10px 1px rgb(3, 0, 40);
  font-family: "Raleway", sans-serif;
  position: relative;
  z-index: 3;
}
.article .article__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 20px rgb(17, 0, 114);
}
.article .article__info h4 {
  font-size: 1.3rem;
  color: rgb(36, 209, 252);
  text-shadow: 0px 0px 5px rgb(0, 98, 245);
}
.article .article__info h5 {
  color: white;
  font-size: 0.9rem;
  padding: 10px 30px;
}

/* Menu Carrusel */
.main__section__carrusel {
  border: 2px solid rgb(22, 22, 22);
  background-color: #181818;
  box-shadow: 0px 0px 20px 3px black;
}

/* Fin - Menu Carrusel */
.footer {
  background-image: radial-gradient(circle, #1f1f1f, #1a1a1a, #191919);
  height: auto;
  box-shadow: 0px 0px 20px rgb(19, 19, 19);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.footer__tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 28px;
  margin-bottom: 20px;
  font-family: "Julius Sans One", sans-serif;
}

.footer__tittle h3 {
  padding-top: 20px;
  color: rgb(36, 209, 252);
  text-shadow: 0px 0px 5px rgb(0, 98, 245);
  font-size: 1.7rem;
}

.footer__tittle h5 {
  color: white;
  font-size: 0.7rem;
}

.footer__ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer__ubicacion h5 {
  color: white;
  font-size: 1rem;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
}

.footer__ubicacion h6 {
  font-size: 0.8rem;
  color: white;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}

.footer__ubicacion iframe {
  width: 280px;
  height: 190px;
  margin-top: 3px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgb(253, 253, 253);
}

.footer__ubicacion iframe:hover {
  box-shadow: 0px 0px 10px rgb(253, 253, 253);
}

.footer__redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer__redes h5 {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.redes__icons {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 25px;
}

.footer__redes h6 {
  color: white;
  font-size: 0.9rem;
  padding-bottom: 30px;
}

.redes__icons i {
  background-color: rgb(0, 0, 0);
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 500px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0px 0px 40px white;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.redes__icons a {
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
}

.redes__icons i:hover {
  width: 43px;
  height: 43px;
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  .sec1__tittle h1 {
    font-size: 2.4rem;
  }
  .sec1__tittle h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .footer .footer__tittle h3 {
    font-size: 2rem;
  }
  .footer .footer__tittle h5 {
    font-size: 1rem;
  }
  .footer .footer__ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .footer .footer__ubicacion h5 {
    font-size: 1rem;
  }
  .footer .footer__ubicacion iframe {
    width: 280px;
    height: 190px;
    margin-top: 3px;
    margin-bottom: 20px;
  }
  .footer .footer__ubicacion h6 {
    font-size: 0.8rem;
  }
  .footer__redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .footer__redes h5 {
    color: white;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  .redes__icons {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .footer__redes h6 {
    color: white;
    font-size: 0.9rem;
    padding-bottom: 30px;
  }
  .redes__icons i {
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 500px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 40px white;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
  }
  .redes__icons a {
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
  }
  .redes__icons i:hover {
    width: 43px;
    height: 43px;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 950px) {
  .nav__container {
    margin: 0px;
    padding: 20px 40px;
  }
  .nav__container .navbar-brand {
    font-size: 1.6rem;
    padding-bottom: 4px;
  }
  .nav__container .nav-link {
    font-size: 1.3rem;
  }
  .main {
    background-size: cover;
  }
  .main .main__tittle h1 {
    font-size: 5rem;
  }
  .main .main__tittle h3 {
    font-size: 3rem;
  }
  .sec1 {
    height: 55vh;
  }
  .sec1 .main__sec1 {
    padding: 0px 100px 0px 100px;
  }
  .sec1 .main__sec1 h3 {
    font-size: 4rem;
  }
  .sec1 .main__sec1 h4 {
    font-size: 1.6rem;
    padding: 10px 20px;
    letter-spacing: 1px;
  }
  .article .article__info h4 {
    font-size: 3rem;
  }
  .article .article__info h5 {
    font-size: 1.3rem;
    padding: 0px 150px 0px 150px;
  }
  .footer {
    height: auto;
  }
  .footer .footer__tittle h3 {
    font-size: 2.3rem;
  }
  .footer .footer__tittle h5 {
    font-size: 1.3rem;
  }
  .footer .footer__container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .footer .footer__container .container__ubicacion {
    display: inline;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion {
    justify-content: center;
    align-items: center;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion h5 {
    display: inline-block;
    font-size: 1.6rem;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion iframe {
    width: 380px;
    height: 230px;
    margin-top: 3px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px white;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion h6 {
    display: inline-block;
    font-size: 1.4rem;
  }
  .footer .container__redes {
    display: inline-block;
    flex-direction: column;
  }
  .footer .container__redes .footer__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    text-align: center;
    justify-content: center;
  }
  .footer .container__redes .footer__redes h5 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
  }
  .footer .container__redes .footer__redes .redes__icons {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .footer .container__redes .footer__redes .redes__icons a {
    display: flex;
    flex-direction: row;
  }
  .footer .container__redes .footer__redes .redes__icons i {
    font-size: 1.4rem;
    width: 55px;
    height: 55px;
  }
  .footer .container__redes .footer__redes .redes__icons i:hover {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    font-size: 1.6rem;
  }
  .footer .container__redes .footer__redes a {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer .container__redes .footer__redes h6 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
  }
}
@media screen and (min-width: 1200px) {
  .nav__container {
    margin: 0px;
    padding: 20px 40px;
  }
  .nav__container .navbar-brand {
    font-size: 1.6rem;
    padding-bottom: 4px;
  }
  .nav__container .nav-link {
    font-size: 1.3rem;
  }
  .main {
    background-size: cover;
  }
  .main .main__tittle h1 {
    font-size: 5rem;
  }
  .main .main__tittle h3 {
    font-size: 3rem;
  }
  .sec1 {
    height: 55vh;
  }
  .sec1 .main__sec1 {
    padding: 0px 100px 0px 100px;
  }
  .sec1 .main__sec1 h3 {
    font-size: 4rem;
  }
  .sec1 .main__sec1 h4 {
    font-size: 1.6rem;
    padding: 10px 20px;
    letter-spacing: 1px;
  }
  .article .article__info h4 {
    font-size: 3rem;
  }
  .article .article__info h5 {
    font-size: 1.3rem;
    padding: 0px 150px 0px 150px;
  }
  .footer {
    height: auto;
  }
  .footer .footer__tittle h3 {
    font-size: 2.3rem;
  }
  .footer .footer__tittle h5 {
    font-size: 1.3rem;
  }
  .footer .footer__container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .footer .footer__container .container__ubicacion {
    display: inline;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion {
    justify-content: center;
    align-items: center;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion h5 {
    display: inline-block;
    font-size: 1.6rem;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion iframe {
    width: 380px;
    height: 230px;
    margin-top: 3px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px white;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion h6 {
    display: inline-block;
    font-size: 1.4rem;
  }
  .footer .container__redes {
    display: inline-block;
    flex-direction: column;
  }
  .footer .container__redes .footer__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    text-align: center;
    justify-content: center;
  }
  .footer .container__redes .footer__redes h5 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
  }
  .footer .container__redes .footer__redes .redes__icons {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .footer .container__redes .footer__redes .redes__icons a {
    display: flex;
    flex-direction: row;
  }
  .footer .container__redes .footer__redes .redes__icons i {
    font-size: 1.4rem;
    width: 55px;
    height: 55px;
  }
  .footer .container__redes .footer__redes .redes__icons i:hover {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    font-size: 1.6rem;
  }
  .footer .container__redes .footer__redes a {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer .container__redes .footer__redes h6 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
  }
}
@media screen and (min-width: 1400px) {
  .nav__container {
    margin: 0px;
    padding: 20px 40px;
  }
  .nav__container .navbar-brand {
    font-size: 1.6rem;
    padding-bottom: 4px;
  }
  .nav__container .nav-link {
    font-size: 1.3rem;
  }
  .main {
    background-size: cover;
  }
  .main .main__tittle h1 {
    font-size: 4.6rem;
  }
  .main .main__tittle h3 {
    font-size: 3rem;
  }
  .main__sec1-grid .sec1 {
    height: 100vh;
  }
  .main__sec1-grid .sec1 .main__sec1 {
    padding: 150px;
  }
  .main__sec1-grid .sec1 .main__sec1 h3 {
    font-size: 3.5rem;
  }
  .main__sec1-grid .sec1 .main__sec1 h4 {
    font-size: 1.5rem;
    padding: 10px 20px;
    letter-spacing: 1px;
  }
  .main__sec1-grid .sec1 .main__sec1 .main__text {
    background-color: rgb(4, 0, 26);
    padding: 100px 50PX;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgb(17, 0, 114);
  }
  .container__article .article .article__info h4 {
    font-size: 3rem;
  }
  .container__article .article .article__info h5 {
    font-size: 1.3rem;
    padding: 0px 300px 0px 300px;
  }
  .footer {
    height: auto;
  }
  .footer .footer__tittle h3 {
    font-size: 2.3rem;
  }
  .footer .footer__tittle h5 {
    font-size: 1.3rem;
  }
  .footer .footer__container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .footer .footer__container .container__ubicacion {
    display: inline;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion {
    justify-content: center;
    align-items: center;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion h5 {
    display: inline-block;
    font-size: 1.6rem;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion iframe {
    width: 380px;
    height: 230px;
    margin-top: 3px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px white;
  }
  .footer .footer__container .container__ubicacion .footer__ubicacion h6 {
    display: inline-block;
    font-size: 1.4rem;
  }
  .footer .container__redes {
    display: inline-block;
    flex-direction: column;
  }
  .footer .container__redes .footer__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    text-align: center;
    justify-content: center;
  }
  .footer .container__redes .footer__redes h5 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
  }
  .footer .container__redes .footer__redes .redes__icons {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .footer .container__redes .footer__redes .redes__icons a {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer .container__redes .footer__redes .redes__icons i {
    font-size: 1.4rem;
    width: 55px;
    height: 55px;
  }
  .footer .container__redes .footer__redes .redes__icons i:hover {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    font-size: 1.6rem;
  }
  .footer .container__redes .footer__redes h6 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
  }
}