.body {
    font-family: 'Raleway', sans-serif;
    font-family: "Montserrat-SemiBold";
    src: url("/assets/fonts/webfonts/Montserrat-Regular.otf");
} 

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/assets/fonts/webfonts/Montserrat-Regular.otf");
}
