.footer {
    background-image: radial-gradient(circle, rgb(3, 0, 17), rgb(3, 0, 20), rgb(4, 0, 26));
    position: relative;
    z-index: 25;
    height: auto;
    box-shadow: 0px 0px 20px rgb(17, 0, 114);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0px;
    height: 75vh;

    .footer__tittle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: 'Julius Sans One', sans-serif;
        margin: 0px;
    
        & h3 {
            padding-top: 20px;
            color: rgb(36, 209, 252);
            text-shadow: 0px 0px 5px rgb(0, 98, 245);
            font-size: 1.7rem;
            margin: 0px;
        }

        & h5 {
            color: white;
            font-size: 0.7rem;
            margin: 0;
        }
    }

    .footer__ubicacion {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0px;
    
        & h5 {
            color: white;
            font-size: 1rem;
            text-shadow: 0px 0px 2px rgb(255, 255, 255);
            margin: 0px;
            padding-bottom: 10px;
        }

        & iframe {
            margin: 0px;
            width: 280px;
            height: 190px;
            box-shadow: 0px 0px 5px rgb(253, 253, 253);
        
            & iframe:hover {
                box-shadow: 0px 0px 10px rgb(253, 253, 253);
            }
        }

        & h6 {
            font-size: 1rem;
            color: white;
            text-shadow: 0px 0px 3px rgb(255, 255, 255);
            padding-top: 10px;
            margin: 0px;
        }
    }

    .footer__redes {
        text-align: center;
        margin: 0px;
        padding-top: 20px;

        & h5 {
            color: white;
            font-size: 1.2rem;
            margin: 0px;
        }

        & h6 {
            color: white;
            font-size: 0.9rem;
            margin: 0px;
            }

        .redes__icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
        
            & a {
                padding-left: 18px;
                padding-right: 18px;
                text-decoration: none
            }

            i {
                background-color: rgb(0, 0, 0);
                font-size: 1rem;
                color: rgb(255, 255, 255);
                font-weight: 500px;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                text-shadow: 0px 0px 40px white;
                box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }

            & i:hover {
                width: 43px;
                height: 43px;
                box-shadow: 0px 0px 15px rgb(255, 255, 255);
                font-size: 1.2rem;
            }
        }
    }
}
