.header {
    position: fixed;
    z-index: 30;
    width: 100%;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    opacity: 0.900;

    .nav__container {
        margin: 0px;
        padding: 15px 15px;

        .navbar {
            margin: 0;
            padding: 0;

            .container-fluid {
                background-color: #050a33;
                box-shadow: 0px 0px 10px rgb(2, 0, 121);
                border-radius: 10px;
                padding: 10px;
            
                .navbar-brand {
                    font-size: 1.4rem;
                    color: rgb(36, 209, 252);
                    text-shadow: 0px 0px 60px rgb(0, 100, 250);
                    padding-left: 10px;
                    padding-bottom: 0px;

                    &:hover {
                        color: rgb(0, 149, 255);
                        text-shadow: 0px 0px 15px rgb(0, 149, 255);
                    }

                    &:focus {
                        color: white;
                    }
                }

                .navbar-toggler {
                    background-color: rgb(0, 36, 238);
                    font-size: 0.8rem;
                    border: 1px solid rgb(0, 0, 107);
                    box-shadow: 0px 0px 5px rgb(0, 0, 107);
                    padding: 7px 9px;
                    margin: 0;
                    box-shadow: 10px;
                    margin-right: 11px;

                    &:focus {
                        box-shadow: 0px 0px 0px rgb(255, 255, 255);
                    }

                    &:hover {
                        background-color: rgb(0, 36, 238);
                        box-shadow: 0px 0px 15px 0px rgb(0, 0, 107);
                    }

                    &:active {
                        background-color: rgb(0, 7, 211);
                    }
                }

                .navbar-collapse {
                    margin: 0px;
                  
                    .navbar-nav {
                        margin: 0px;
                        padding-right: 10px;
                        padding-left: 10px;
                        
                        & li {
                            padding-bottom: 10px;
                            padding-right: 15px;
                        }

                        .nav-link {
                            display: inline-block;
                            color: white;
                            font-size: 1.2rem;
                            font-weight: 500;
                            text-shadow: 0px 0px 3px rgb(182, 182, 182);
                            padding: 0px;
                            margin: 0px;
                            padding-top: 10px;
                        
                            &:hover {
                                color: white;
                                text-shadow: 0px 0px 10px white;
                                border-bottom: 1px solid white;
                            }

                            &:focus {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}