@media screen and (min-width: 600px) {

    .sec1__tittle h1 {
        font-size: 2.4rem;
    }

    .sec1__tittle h3 {
        font-size: 1.6rem;
    }

}

@media screen and (min-width: 768px) {

    
}

@media screen and (min-width: 950px) {

    
}

@media screen and (min-width: 1200px) {

     // Inicio - Navbar 

     .nav__container {
        margin: 0px;
        padding: 20px 40px;

        .navbar-brand {
            font-size: 1.6rem;
            padding-bottom: 4px;
        }

        .nav-link {
            font-size: 1.3rem;
        }

    }
    
    // Fin - Navbar

    // Inicio - Menu Principal

    .main {
        background-size: cover;

        .main__tittle {
        
            & h1 {
                font-size: 3.7rem;
            }
    
            & h3 {
                font-size: 2.3rem;
            }
    
        }

    }   

    // Fin - Menu Principal

    // Inicio - Section

    .main__sec1-grid {
        
        .sec1 {
            height: 100vh;
        
            .main__sec1 {
                padding: 120px;
    
                & h3 {
                    font-size: 3rem;
                }
        
                & h4 {
                    font-size: 1.2rem;
                    padding: 10px 20px;
                    letter-spacing: 1px;
                }
    
                .main__text {
                    background-color: rgb(4, 0, 26);
                    padding: 100px 50PX;
                    border-radius: 50px ;
                    box-shadow: 0px 0px 20px rgb(17, 0, 114);
                    
                }
            }
        }    
    }
    

    // Fin - Sections

    // Inicio - Article 

    .container__article {

        .article {

            .article__info {    
                & h4 {
                font-size: 3rem;
                }
        
                & h5 {
                font-size: 1.3rem;
                padding: 0px 200px 0px 200px;
                }
            }
        }
    }


    // Fin - Article


    // Inicio Footer 

    .footer {
        height: 60vh;

        .footer__tittle {
            & h3 {
                font-size: 2rem;
            }

            & h5 {
                font-size: 0.9rem;
            }

        }
       
        .footer__container {
            display: flex;
            justify-content:space-around;
            flex-direction: row-reverse;
        
            .container__ubicacion {
            display: inline;
            
                .footer__ubicacion {
                    justify-content: center;
                    align-items: center;
                
                    & h5 {
                    display: inline-block;
                    font-size: 1.3rem;
                    }

                    & iframe {
                        width: 320px;
                        height: 200px;
                        margin-top: 3px;
                        margin-bottom: 20px;
                        box-shadow: 0px 0px 5px white;
                    }

                    & h6 {
                        display: inline-block;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    
        .container__redes {
            display: inline-block;
            flex-direction: column;
        
            .footer__redes {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 30vh;
                text-align: center;
                justify-content: center;

                & h5 {
                    color: white;
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.3rem;
                    text-shadow: 0px 0px 2px rgb(255, 255, 255);
                }

                & h6 {
                    color: white;
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.2rem;
                    text-shadow: 0px 0px 2px rgb(255, 255, 255);
                }  
                
                .redes__icons {
                    margin-top: 15px;
                    margin-bottom: 30px;

                    & a {
                        display: flex;
                        flex-direction: row;
                        padding-left: 25px;
                        padding-right: 25px;
                    }

                    & i {
                        font-size: 1.2rem;
                        width: 45px;
                        height: 45px;
                    }

                    & i:hover {
                        box-shadow: 0px 0px 10px rgb(255, 255, 255);
                        font-size: 1.4rem;
                    }
                }
            }
        }        
    }
    // Fin - Footer
    
}

@media screen and (min-width: 1400px) {

    // Inicio - Navbar 
     .nav__container {
        margin: 0px;
        padding: 20px 40px;

        .navbar-brand {
            font-size: 1.6rem;
            padding-bottom: 4px;
        }

        .nav-link {
            font-size: 1.3rem;
        }

    }
    
    // Fin - Navbar

    // Inicio - Menu Principal

    .main {
        background-size: cover;

        .main__tittle {
        
            & h1 {
                font-size: 4.6rem;
            }
    
            & h3 {
                font-size: 3rem;
            }
    
        }

    }   

    // Fin - Menu Principal

    // Inicio - Section

    .main__sec1-grid {
        
        .sec1 {
            height: 100vh;
        
            .main__sec1 {
                padding: 150px;
    
                & h3 {
                    font-size: 3.5rem;
                }
        
                & h4 {
                    font-size: 1.5rem;
                    padding: 10px 20px;
                    letter-spacing: 1px;
                }
    
                .main__text {
                    background-color: rgb(4, 0, 26);
                    padding: 100px 50PX;
                    border-radius: 50px ;
                    box-shadow: 0px 0px 20px rgb(17, 0, 114);
                    
                }
                
            }
        }    
    }
    

    // Fin - Sections

    // Inicio - Article 

    .container__article {

        .article {

            .article__info {
    
                & h4 {
                font-size: 3rem;
                }
        
                & h5 {
                font-size: 1.3rem;
                padding: 0px 300px 0px 300px;
                }
            }
        }
    }


    // Fin - Article


    // Inicio Footer 

    .footer {
        height: auto;

        .footer__tittle {
            & h3 {
                font-size: 2.3rem;
            }

            & h5 {
                font-size: 1.3rem;
            }

        }
       
        .footer__container {
            display: flex;
            justify-content:space-around;
            flex-direction: row-reverse;
        
            .container__ubicacion {
            display: inline;
            
                .footer__ubicacion {
                    justify-content: center;
                    align-items: center;
                
                    & h5 {
                    display: inline-block;
                    font-size: 1.6rem;
                    }

                    & iframe {
                        width: 380px;
                        height: 230px;
                        margin-top: 3px;
                        margin-bottom: 20px;
                        box-shadow: 0px 0px 5px white;
                    }

                    & h6 {
                        display: inline-block;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    
        .container__redes {
            display: inline-block;
            flex-direction: column;
        
            .footer__redes {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 30vh;
                text-align: center;
                justify-content: center;

                & h5 {
                    color: white;
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.6rem;
                    text-shadow: 0px 0px 2px rgb(255, 255, 255);
                }
                
                .redes__icons {
                    margin-top: 15px;
                    margin-bottom: 30px;

                    & a {
                        display: flex;
                        flex-direction: row;
                        padding-left: 30px;
                        padding-right: 30px;
                    }

                    & i {
                        font-size: 1.4rem;
                        width: 55px;
                        height: 55px;
                    }

                    & i:hover {
                        width: 60px;
                        height: 60px;
                        box-shadow: 0px 0px 15px rgb(255, 255, 255);
                        font-size: 1.6rem;
                    }
                }

                & h6 {
                    color: white;
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.6rem;
                    text-shadow: 0px 0px 2px rgb(255, 255, 255);
                }   
            }
        }        
    }
    // Fin - Footer
}